.icon::before {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}

.youtube::before {
    background-image: url(иконки/before\ YOUTUBE\ \(1\).png);
}
.youtube:hover::before {
    background-image: url(иконки/after\ YOUTUBE.png);
}
.home::before {
    background-image: url(иконки/home\ before.png);
}
.home:hover::before {
    background-image: url(иконки/home\ after.png);
