.icon::before {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}

.youtube::before {
    background-image: url(иконки/before\ YOUTUBE.png);
}
.youtube:hover::before {
    background-image: url(иконки/after\ YOUTUBE.png);
}
.picture::before{
    background-image: url(иконки/пейзаж\ ДО.png);
}
.picture:hover::before{
    background-image: url(иконки/пейзаж\ ПОСЛЕ.png);
}
.people::before{
    background-image:url(иконки/люди\ ДОООО.png)
}
.people:hover::before{
    background-image: url(иконки/люди\ после.png);
}